.page {
      direction: ltr;
      width: 98%;
      height: 865px;
      margin: auto;
      position: relative;
      overflow: visible;
      border: 9px solid transparent;
      background-clip: content-box;
      border-image: url(images/shadow.png) 9 9 repeat;
      background-color: white;
    }